body{
    background-color:rgb(70, 26, 110);
margin: 0;
}

header{
    background-color: rgb(231, 210, 142);
padding: 2rem;
}

header h1{
    color:rgb(24, 6, 41);
    font-family:"Courie New";
}
nav{
    background-color: rgb(60, 13, 104);
padding: 1rem;
}
li a{
    color:#fff;
    text-decoration: none;
    background-color: rgb(56, 16, 94);
    border-radius: 2px;
    padding: 0.5rem;
    
}
li a:hover{
    color:#fff;
    background-color: rgb(105, 91, 117);
    
}
ul li{
    padding: 1rem;
    list-style: none;
}

nav ul{
    padding: 0;
    display: flex;
}
.container{
    margin: auto;
    max-width: 60%;
    background-color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    min-height: 80rem;
}
.container h3{
    text-align: center;
    color: #312a48;
    border-bottom: 2px solid #312a48
}
.container input{
margin-bottom: 0.5rem;
border: 2px solid #312a48;
border-radius: 8px;
padding: 0.5rem;
outline: none;
}

.conteiner input:hover{
    background-color: #312a48;
}
.conteiner buttom{
background-color:rgb(60, 13, 104);
color: #fff;
font-weight: bold;
padding: 0.5rem;
border-radius: 25px;
cursor: pointer;
}
.conteiner button:hover{
    background-color: #312a48;
}
footer{
    color: #fff;
margin-top: 2rem;
border-top: 2px solid #fff;
}
